.my-box{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}
.trans{
    transform: translate(200px, -150px);
}
.rotate{
    transform: translate(0,-100px) rotate(30deg) ;
}
.transform{
    transform: translate(100px,-50px) scale(0.8) skewx(30deg);
}
.transform-3d{

    transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg); 

}
.transition:hover{
    background-color: red;
    transition: background-color 1s;
}
.transition{
    transition: background-color 1s;

}

.transform-transition:hover{
    transform: translate(100px,0) rotate(180deg);
    width: 100px;
    transition:all 3s;
    transition-delay: 0.5s;
}
.transform-transition{
    transition:all 3s;
}

.liner-transition:hover{
    transform: rotate(90deg);
    transition: all 2s;
    transition-timing-function: ease;
}
input[type="checkbox"]:checked+span{
    color: blue;
    transition: all 1s;
}

.after-transition>p::after{
    content: "새로운 내용이 나타납니다";
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;

}


.after-transition>p:hover::after{
    content: "새로운 내용이 나타납니다";
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}

.content-container{
    width: 300px;
    height: 300px;
    background-color: brown;
    overflow: hidden;
}
.content-container>.img{
    background-image: url(./img/free-icon-design-tool-9666968.png);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    transition: all 1s;
}
.content-container>.img:hover{
    transform: scale(1.2);
    transition: all 1s;
}
.img-container{
    width: 100%;
    overflow: hidden;
}

.img-container>.img{
    background-image: url(./img/cat-gc907f884a_1920.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    display: inline-block;
    overflow: auto;
    transition: all 1s;
}
.img-container>.img:hover{
    background-color: black;
    background-blend-mode: multiply;
    opacity: 0.2;
    transform : scale(1.1);
    transition: all 1s;
}

.animation{
    animation-name: movingback;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes moving{
    from{transform: translate(0,0);}
    to{transform: translate(100px,0);}
}

@keyframes movingback{
    0%{transform: translate(0,0);}
    50%{transform: translate(200px,0);}
    100%{transform: translate(0,0);}
}

.animation-box{
    animation: movingbox 6s infinite;

}

@keyframes movingbox{
    0%{
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        transform: rotate(0deg);
        background-color: blueviolet;

    }
    20%{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        transform: rotate(90deg);
        background-color: blueviolet;
    }
    40%{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        transform: rotate(180deg);
        background-color: blueviolet;
    }
    60%{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 0%;
        transform: rotate(270deg);
        background-color: blueviolet;
    }
    80%{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        transform: rotate(360deg);
        background-color: blueviolet;
    }
    100%{
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        transform: rotate(360deg);
        background-color: blueviolet;
    }

}
.text{
    position: absolute;
    text-align: center;
    z-index: 10;
    box-sizing: border-box;
    padding: 30px;
}