.grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;

}
.grid-box>.content{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border: solid 1px black;
}

.grid-box>.content>.item-image{
    background-image: url(./img/free-icon-design-tool-9666968.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    filter: brightness();
    transition: all 1s;
}

.grid-box>.content>h4{
    text-align: center;
    margin: 0;
    padding: 0;
}
.grid-box>.content>p{
    text-align: center;

}
.grid-box>.content:hover>.item-image{
    filter: brightness(50%);
    transition: all 1s;
}