.title1
{
    background-color: orange;
    text-align: center;
    padding: 1ch;
}
.borderStyle
{
    border-radius: 5px;
    border-style: dashed;
    padding: 2ch;
}
ul
{
    list-style-type: none;
}
p
{
    background-color: bisque;
    padding: 2ch ;
}