.slider2{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /*바깥으로 빠져나가면 안보이게끔*/
    overflow: hidden;
}
.slider2>.slider2-item:nth-child(2){
    background-color: skyblue;
}
.slider2>.slider2-item:nth-child(3){
    background-color: aqua;
}


/*slider item*/
.slider2-item{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    /* flex의 컨테이너보다 item 크기가 클때 넓이를 바뀌지 않게 사용*/
    flex-shrink: 0;

    /*
    위치조정 0% -100% -200%
    */
    position: relative;
    left: 0;
    transition: all 0.5s;
}


/*슬라이더 dot의 모양*/

.slider2-dots{
    position: absolute;
    display: flex;
    left: 68%; 
}


.slider2-dots .dot{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
}

.slider2-dots .dot:hover, .dot.on
{
    background-color: gray;
}