*{  margin: 0;  padding: 0;}

ul{ list-style-type: none;}

#todolist li{
    display: inline;
    flex-direction: column;
    color: brown;
    font-weight: bold;
}






#todolist li span{
    margin: 0 10px;
    color: aqua;
}

#todolist li.check span{
    text-decoration: line-through;
    color: gray;
}