body,ul{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav>.gnb{
    display: flex;
    background-color: aquamarine;
    justify-content: space-evenly;
    padding: 10px;
}

.nav>.gnb .gnb-sub{
    position: absolute;
    margin-top: 10px;
    visibility: hidden;
}
.nav>.gnb .gnb-sub>li{
    margin: 4px 0;
}
.nav>.gnb>li:hover>a {
    color: blue;
    font-weight: bold;
}
.nav>.gnb:hover .gnb-sub{
    visibility: visible;
    z-index: 10;
}
.nav:hover+.backgroud{
    height: 80px;
    transition: all 0.2s;
}

.backgroud{
    position: absolute;
    display: inline-block;
    background-color: beige;
    width: 100%;
    height: 0px;
}